# Keycloak SBOM workflow
#
# Generates SBOM from the pom.xml lockfile of Keycloak

name: "SBOM: keycloak"

on:
  push:
    branches:
      - master
    paths:
      - 'apps/keycloak/config.yaml'
      - '.github/workflows/sbom-keycloak.yml'

  # Allow manual triggering
  workflow_dispatch:
    inputs:
      dry_run:
        description: 'Run in dry-run mode (no upload)'
        required: false
        type: boolean
        default: false

jobs:
  build:
    uses: ./.github/workflows/sbom-builder.yml
    with:
      app: keycloak
      dry_run: ${{ github.event.inputs.dry_run == 'true' }}
    secrets: inherit
    permissions:
      id-token: write
      contents: read
      attestations: write

